@using Razor_VS_Code_test.Views.Settings

<ul class="nav flex-column">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="Index">Главная</a></li>
    <li class="@ManageNavPages.ManageSliderNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="Slider">Управление слайдером</a></li>
    <li class="@ManageNavPages.ManageActionsNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="Discounts">Управление акциями</a></li>
    <li class="@ManageNavPages.ManagetTagsNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="Tags">Управление тэгами</a></li>
    <li class="@ManageNavPages.ManageImagesNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="Images">Управление изображениями</a></li>
    <li class="@ManageNavPages.ManagePartnersNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="Partners">Управление партнёрами</a></li>
    <li class="@ManageNavPages.ManageSocialNetworksNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="SocialNetworks">Социальные сети</a></li>
    <li class="@ManageNavPages.ManagePagesInfoNavClass(ViewContext)" class="nav-item"><a class="nav-link" asp-action="PagesData">Данные страниц</a></li>
</ul>