@using Microsoft.AspNetCore.Identity
@model IList<Sale>  

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
  var user = await UserManager.GetUserAsync(User);
}
    
<div class="row" id="salesCollectionArea">
    @if (Model.Count == 0)
      {
        <div class="col-12">
          <p class="lead">Скидок и акций не найдено. Попробуйте изменить параметры фильтра.</p>
        </div>
      }
      @foreach (var sale in Model)
      {
      <div class="col-11 col-md-5 mb-3 ml-1 card border-gray bg-light">
        <div class="card-img bg-faded">
          <img src='@sale.ImgUrl' alt="my image"  style="max-width: 100%; max-height: 100%; width: 100%; height: 100%;"/>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle">@sale.Title</h6>
          <p class="text-muted" v-bind:class="{ 'cut-single-line': activeItemNumber != @Model.IndexOf(sale) }" >@sale.Description</p>
          <hr>
          <button class="btn btn-link pl-0" v-if = "activeItemNumber != @Model.IndexOf(sale)" v-on:click = "setActiveItem(@Model.IndexOf(sale))">Подробнее</button>
          <button class="btn btn-link pl-0" v-if = "activeItemNumber == @Model.IndexOf(sale)" v-on:click = "setActiveItem(-1)">Скрыть</button>
          <br >
          @if ((SignInManager.IsSignedIn(User)) && (await UserManager.IsInRoleAsync(user, "Administrator")))
          {
            <a class="" asp-area="" asp-controller="Settings" asp-action="EditSale" asp-route-id="@sale.SaleId" title="Edit">Редактировать</a>

            <form asp-controller="Settings" asp-action="RemoveSale" method="POST" id="removeSaleForm">
            <input type="hidden" name="id" value="@sale.SaleId" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            </form>
          }
        </div>
      </div>
      }
</div>